
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1rem;
    height: 45px;

    
    

    .labelInputInline {
        font-size: 14px;
        min-width: 120px;
        
    }

    .labelInput {
    font-size: 14px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .requiredStar {
        color: #d32f2f;
        margin-left: 0.5rem;
    }
    }

    .muiInput {
        width: 300px;
        margin-left: 1rem;
        //background-color: #ffffff;
        div > div {
            height: 40px !important;
            
        }
        .input{
           
            div {
                background-color: #ffffff;
                padding-top:0 !important;
                padding-bottom:0 !important;
                input {
                    margin: 0 !important;
                    padding: 0 !important;
                    height: 40px !important;
                }
            }
            
        }
    }

    
}