.date {
  height: 40px !important;
  margin-right: 2rem;
  align-items: center !important;
  label {
    border: 1px solid red !important;
  }
  input {
    height: 40px !important;
    margin: 0;
    padding-left: 1rem !important;
  }
}

.inlineLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.label {
  margin-right: 1.25rem;
  display: flex;
  align-items: center;
  min-width: 100px;
}
