@import "variables";

$marginAdminList: 2rem;

.inputStyle {
  width: 100%;
  border-radius: 4px;
 

}

.labelInput {
  font-size: 14px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  .requiredStar {
    color: $errorTextColor;
    margin-left: 0.5rem;
  }
}

.labelInputInline {
  font-size: 14px;
  min-width: 120px;
}

.input70px {
  width: 70px !important;
  border-radius: 4px;
}

.input150px {
  width: 150px !important;
  border-radius: 4px;
}

.input300px {
  width: 300px !important;
  border-radius: 4px;
}

.input600px {
  width: 600px !important;
  border-radius: 4px;
}

.inLineLabelContainer {
  display: flex;
  align-items: center;
  height: 45px;
}

.inputContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    width: 100% !important;
    input{
      background-color: #ffffff;
    }
  }


  margin-bottom: 5px;
}

.containerTableG {
  height: max(375px, 55vh);
  background-color: #ffffff;
}

.adminListContainerG {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  border-color: divider;

  .adminListTitleG {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .adminListMarginG {
    margin-top: $marginAdminList;
    margin-left: $marginAdminList;
  }

  .adminListContentButtonG {
    display: flex;
    justify-content: center;
  }

  .adminContainerTableWithMargin {
    margin-right: $marginAdminList;
    margin-left: $marginAdminList;
  }

  .adminContainerTableWithoutMargin {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.commonDialogContainerTitleG {
  display: flex;
  justify-content: space-between;
}

.commonDialogButtonCloseTitleG {
  cursor: pointer;
}

.commonDialogContainerContentG {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.commonDialogContainerButtonG {
  display: flex;
  justify-content: center !important;
}

.adminContainerAddMargin {
  margin-right: $marginAdminList;
  margin-left: $marginAdminList;
}

.tableCellTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.commonButtonRoudedG {
  border-radius: 30px !important;
  padding: 0px !important;
  height: 30px !important;
  width: 30px !important;
  min-width: 0px !important;
}

.communAddLessContainerG {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  label {
    padding-bottom: 0px;
  }
}

.communAddLessContainerInputG {
  width: 65px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.communAddLessButtonG {
  color: black !important;
  margin-left: 1rem;
  padding: 0;
  min-width: 0;
}

.notDialogButtonValidate {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: $accentColor !important;
    color: white !important;
  }
}

.switchLabelInput {
  margin-left: 10px;
}

.coordinatorTMDContainer {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  flex-direction: column;

  .coordinatorTMDStockSubTitle {
    margin-left: 2rem;
    font-weight: bold;
  }

  .coordinatorTMDStockButtonColorAdd {
    background-color: $accentColor !important;
    color: white;
    margin-left: 2rem;
  }

  .coordinatorTMDContainerSecondButton {
    margin-left: 2rem;
    margin-top: 2rem;
  }
}

.staticDatePickerContainer {
  background-color: white;
  padding: 16px;
  width: 350px;

  .title {
    font-size: 0.75rem;
    line-height: 2.66;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
  }

  .containerDate {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;

    .date {
      font-size: 2.125rem;
    }
  }
}

.calendarBadgeColor>span {
  background: green;
  color: white;
  max-width: 15px;
  max-height: 15px;
  font-size: 0.6rem;
}

.customTableHeaderCell {
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 14px !important;
  padding: 0 5px !important;
}

.customTableHeaderCell,
.customTableCell {
  border-right: 1px solid rgba(224, 224, 224, 0.5) !important;
}

.customTableCell {
  border-bottom: 1px solid rgba(224, 224, 224, 0.5) !important;
  padding: 3px !important;
  font-size: 0.8rem !important;
  line-height: 1em !important;

  span:first-child {
    font-size: 0.8rem !important;
    line-height: 1em;
  }

  label {
    padding-bottom: 0;
  }
}

.customTableSelectCell {
  td {
    border-right: 1px solid rgba(224, 224, 224, 0.5) !important;
    border-bottom: 1px solid rgba(224, 224, 224, 0.5) !important;
  }
}

.relaunchBadge {
  width: 100%;
  justify-content: center;

  & span {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    font-size: 0.6rem !important;
    font-weight: 700;
    right: 7px;
    top: 20px;
  }
}

.relaunchBadge svg,
.rotateMinus45 {
  transform: rotate(-45deg);
}

.customTableContainer {
  max-height: 600px;
}

.linkReportColumn {
  font-weight: 600;
  cursor: pointer;
}

.linkReportColumn:hover {
  text-decoration: underline;
}

.sliderSideLabelPushDetail {
  padding-left: 2rem;
}

.tableCellHeaderTableItemSticky {
  font-weight: bold !important;
  white-space: pre-line !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: calc($defaultMargin / 2);

  button {
    display: flex;
    align-items: center;
  }

  .dialogButton {
    margin-right: $defaultMargin;
  }
}


.containerGlobalComponent {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f5f5f5;
  height: calc(100vh - $navBarHeight);
  overflow-y: scroll;


  .link {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.containerBreadcrumbsG {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tableCellTruncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerButtonTablePaginate {
  margin-top: 2rem;
}

//Info band
.infoBandContainer {
  padding: 1rem;
  width: 100%;
  height: 4rem;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-bottom: $marginAdminList;
  margin-top: $marginAdminList;

  .infoBandInfoContainer {
    display: flex;
    justify-content: flex-start;
    width: 15rem;

    .infoLabel {
      font-weight: bold;
      margin-right: 1rem;
    }
  }

}


.invertedColorButton {
  background-color: #ffffff !important;
  color: $primaryColor !important;
  border: 1px solid $primaryColor !important;
}

.pushButtonSaveTabC {
  margin-left: 1rem !important;
}

.containerAhead {
  background-color: #aaaaaa;
  display: flex;
  padding: 10px;
}

.containerAboveTabFa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.modalContainerInformationArchivated {
  font-weight: bold;
}

.colorRequiredSpan {
  color: red;
}