@import "variables";

@font-face {
  font-family: "Roboto Thin";
  //src: url("../../public/fonts/GothamBook.ttf") format("truetype");
}

html,
body {
  font-family: Gotham-Book, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiStepLabel-alternativeLabel {
  margin-top: 5px !important;
}

.MuiDataGrid-columnHeaderTitleContainer {
  div {
    div {
      font-weight: bold;
    }
  }
}

.MuiPickerStaticWrapper-content {
  width: 100%;

  .MuiPickersToolbar-root {
    min-width: 250px;
  }
}

// .MuiDialogActions-root,
.MuiPickersToolbar-penIconButton {
  display: none !important;
}

.MuiCalendarPicker-root {
  .PrivatePickersFadeTransitionGroup-root,
  .MuiTypography-caption {
    font-weight: bold;
  }
}

.MuiSlider-markLabel {
  max-width: 40vw !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}




.redGreenSliderRail {
  height: 0.5rem !important;
  opacity: 0.8 !important;
  background: linear-gradient(
    to right,
    red,
    #ff1000,
    #c65911,
    #ffa500,
    #ffd400,
    #ffe922,
    #ffd966,
    #c6d551,
    #92d050,
    #62ed2a,
    #00b050,
    green
  );
}

.greenRedSliderRail {
  height: 0.5rem !important;
  opacity: 0.8 !important;
  background: linear-gradient(
    to right,
    green,
    #00b050,
    #62ed2a,
    #92d050,
    #c6d551,
    #ffd966,
    #ffe922,
    #ffd400,
    #ffa500,
    #c65911,
    #ff1000,
    red
  );
}

.redGreenSliderTrack,
.greenRedSliderTrack,
.hideValueLabelSlider {
  display: none !important;
}




 