$primaryColor: #0067AC;;
$primaryColorLight: rgba(252, 149, 78, 0.5);
$primaryTextColor: #ffffff;
$accentColor: #3c3c4b;
$accentTextColor: #ffffff;
$errorTextColor: #d32f2f;
$ctaButton: #5cdb5c;

$navBarHeight: 65px;
$drawerWidth: 240px;
$defaultMargin: 2rem;