@import "../../../styles/variables";

.container {
    border:1px dashed #BFBDBD;
    width: 492px;
    height: 276px;
    position:relative;
    margin-top: 2rem;
    background-color: #ffffff;
}

.text {
    text-align: center;
    vertical-align:middle;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    width: 492px;
    max-width:  492px;
    padding-left: 10px;
    flex-wrap: wrap;
}

.image {
    width: 102px;
    height: 58px;
    object-fit: contain;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 2px;
    margin-right: 1rem;
}

.topImage {
    width: 492px;
    height: 276px;
    object-fit: contain;
    position:absolute;
    top:0;
    right: 0;
}

.imageWrapper {
    position: relative;
    height: 100%;
    cursor: pointer;

}

.deleteImageButton {
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    z-index: 10;
    background-color: $errorTextColor !important;
    color: #ffffff !important;
}

.buttonContainer {
    margin-top: 1rem;
}