@import "../../../styles/variables";

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer {
    padding: 0px !important;
    width: 194px !important;
    height: 40px !important;
    min-width: 0px !important;
    background-color: $ctaButton;
    border-radius: 6px !important;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5rem !important;
    cursor: pointer !important;
}

.filenameContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;

    .link {
        cursor: pointer;
        color:blue;
        text-decoration: underline;
    }
}

.input {
    display: none;
    caret-color: transparent;
    color: transparent;
    &:focus {
        outline: none;
    } 
}